*/data/esm_data
*/data/distance_map
*/data/pretrained
*/dist/
*/esm/
*/build/
*/model/
*/gmm_test/
*/src/CLEAN/__pycache__/
*/*.egg-info/*
.DS_STORE
*/results/*
# Ignore large models that have been fetched manually
*.pt
*.fai
